button{
    background:#6366f1;
    border:none;
  
    padding:8px 16px;
  
    border-radius:6px;
  
    color:white;
  
    cursor:pointer;
  
    font-size:14px;
  
    transition:.2s;
  }
  
  button:hover{
    background:#4f46e5;
  }
